@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Prime College is located in Khusibun, Nayabazar, Kathmandu. It is the first IT enabled college. The college is well equipped with excellent furnished rooms and extraordinary facilities. In addition to that, it also takes pride in its successful students spread in various fields of the world. It has been able to establish its name in the market as a producer of outstanding talented individuals.</p>
</div>
